<!-- Carousel -->
<div class="slider fullwidthbanner-container roundedcorners">
	<div class="fullwidthbanner" data-height="450">
		<ul class="hide">

			<!-- Slide -->
			<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">>
				<img src="secondary/images/1x1.png" data-lazyload="secondary/images/bg-emc-1.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<div class="tp-caption modern_medium_fat_white lfl stl"
					data-x="65"
					data-y="240"
					data-speed="300"
					data-start="400"
					data-easing="easeOutExpo">WELCOME TO
				</div>
				<div class="tp-caption large_bold_white sft stb"
					data-x="60"
					data-y="260"
					data-speed="300"
					data-start="600"
					data-easing="easeOutExpo">EMC BIRMINGHAM
				</div>
				<div class="tp-caption modern_medium_light sft stb"
					data-x="65"
					data-y="325"
					data-speed="500"
					data-start="900"
					data-easing="easeOutExpo">The southeast's leader in environmental consulting since 1989.
				</div>
				<div class="tp-caption modern_medium_light fade"
					data-x="65"
					data-y="125"
					data-speed="2000"
					data-start="0"
					data-easing="easeOutExpo">
					<img src="secondary/images/emc-birmingham-logo-iso-white.png" alt="emc logo" style="height: 90px;">
				</div>
				<div class="tp-caption small_light_white fade str"
					data-x="65"
					data-y="360"
					data-speed="4000"
					data-start="900"
					data-easing="easeOutExpo">ISO 9001:2008
				</div>
			</li>

			<!-- Slide -->
			<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">
				<img src="secondary/images/1x1.png" data-lazyload="secondary/images/bg-emc-4.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<div class="tp-caption large_bold_black sft stb"
					data-x="60"
					data-y="125"
					data-speed="300"
					data-start="200"
					data-easing="easeOutExpo">WE SPECIALIZE IN...
				</div>
				<div class="tp-caption block_black tp-resizeme sft stb"
					data-x="65"
					data-y="210"
					data-speed="300"
					data-start="500"
					data-easing="easeOutExpo">LABORATORY TESTING
				</div>
				<div class="tp-caption block_black tp-resizeme sft stb"
					data-x="65"
					data-y="250"
					data-speed="300"
					data-start="700"
					data-easing="easeOutExpo">WASTEWATER TESTING
				</div>
				<div class="tp-caption block_black tp-resizeme sft stb"
					data-x="65"
					data-y="290"
					data-speed="500"
					data-start="900"
					data-easing="easeOutExpo">SAFETY AND ENVIRONMENTAL CONSULTING
				</div>
			</li>

			<!-- Slide -->
			<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">
				<img src="secondary/images/1x1.png" data-lazyload="secondary/images/bg-emc-3.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<div class="tp-caption large_bold_black sft stb"
					data-x="60"
					data-y="110"
					data-speed="300"
					data-start="200"
					data-easing="easeOutExpo">ENVIRONMENTAL<br>CONSULTING
				</div>
				<div class="tp-caption modern_medium_fat tp-resizeme sft stb"
					data-x="60"
					data-y="250"
					data-speed="300"
					data-start="700"
					data-easing="easeOutExpo">Reliable
				</div>
				<div class="tp-caption modern_medium_fat tp-resizeme sft stb"
					data-x="170"
					data-y="250"
					data-speed="500"
					data-start="900"
					data-easing="easeOutExpo">& Economical
				</div>
			</li>

			<!-- Slide -->
			<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">
				<img src="secondary/images/1x1.png" data-lazyload="secondary/images/bg-emc-2.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<div class="tp-caption large_bold_black sft stb"
					data-x="60"
					data-y="110"
					data-speed="300"
					data-start="200"
					data-easing="easeOutExpo">SLIDE #4
				</div>
				<div class="tp-caption modern_medium_fat tp-resizeme sft stb"
					data-x="60"
					data-y="170"
					data-speed="300"
					data-start="700"
					data-easing="easeOutExpo">(NO COPY)
				</div>
			</li>
		</ul>
		<div class="tp-bannertimer"></div>
	</div>
</div>
<!-- end Carousel -->

<section>
    <div class="container">
        <!-- word rotator -->
        <header>
            <h2>
                EMC Specializes in:
                <span class="word-rotator">
                    <span class="items bold">
                        <span><em>Environmental Consulting</em></span>
                        <span><em>Wastewater Treatment</em></span>
                        <span><em>Laboratory Testing</em></span>
                        <span><em>Petroleum Testing</em></span>
                    </span>
                </span>
            </h2>
        </header>
        <!-- end word rotator -->
        <div class="col-md-9 col-sm-8" style="border-right: 1px solid #EEE;">
            <p>EMC takes a hands on approach to provide a variety of services to assist clients in complying with local, state and federal environmental (EPA) and safety (OSHA) regulatory requirements. With the assistances of our Laboratory Services, Environmental and Safety Consulting, Wastewater Treatment and Cooling Tower Facility Operations or our Maintenance and Servicing Teams our clients are able to keep current with applicable regulations that affect their businesses and operations on a day to day basis. We pride ourselves on providing a "one stop shop" for our clients to meet their environmental and safety compliance requirements.</p>
        </div>
        <div class="col-md-3 col-sm-4">
            <a href="#" class="btn btn-primary btn-block">Client Login</a>
            <a href="files/ChainofCustody.pdf" target="_blank" class="btn btn-default btn-block">Chain of Custody <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
<section id="lab-data">
    <div class="container">
        <header>
            <div class="col-md-12">
                <h2>Lab Data Delivery</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7 col-sm-12">
                        <p>We know getting test results in a timely manner is very important to you. That’s why we developed an electronic system that allows us to post lab data to your website as soon as it’s available. Using our password-protected portal, you can see your test results any time you want. You’ll even have access to historical data. No more lost test reports! Of course, we always mail the hard copies of all test reports as well.</p>
                        <p>We can also prepare <b>The Electronic Discharge Monitoring Reports</b>. After setting you up on the eFile program, we will complete the reports and then when complete, you will receive an email to review the data and submit it directly to ADEM.</p>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <img class="img-responsive animate_fade_in" src="assets/images/lab-results.jpg" alt="lab data delivery">
                    </div>
                </div>
            </div>
        </header>
        <header id="sample-pickup">
            <div class="col-md-12">
                <h2>Field Sampling and Pickup</h2>
            </div>
            <div class="col-md-12">
                <p>EMC has environmental technicians on the road every day providing sampling and sample pickup services in the better half of Alabama. If you collect your own samples, we can pick them up at your convenience. If you want us to collect your samples, we can set up a comprehensive sampling schedule, including composite sampling equipment, if necessary. Regardless of your needs, EMC can provide the services that make your job easier.</p>
                <p>EMC also provides storm water sampling and testing services. Our technicians are trained in the proper sampling procedures associated with storm water regulations. Reportable samples will be collected and analyzed according to EPA protocols and reported to you on the Discharge Monitoring Reports that have to be submitted to ADEM. In short, EMC can take care of your storm water requirements from start to finish.</p>
                <p>If you want a price quote on your sampling and testing needs, please call (205-951-3400) or <a href="#" data-toggle="modal" data-target="#ContactFormModal">send us a message</a>.</p>
            </div>
        </header>
    </div>
</section>